node_modules/
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env 
*.hprof
.env*.local
*.tsbuildinfo
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/.gradle/
android/app/build/
android/build/
android/local.properties
